# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Testing
/frontend/coverage

# Production
/frontend/build

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/backend/env/
/backend/venv/
/backend/.env
.venv/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.venv/lib/python3.11/site-packages/websockets/version.py
.venv/lib/python3.11/site-packages/websockets/typing.py
.venv/lib/python3.11/site-packages/websockets/sync/server.py
.venv/lib/python3.11/site-packages/websockets/sync/messages.py
.venv/lib/python3.11/site-packages/websockets/sync/connection.py
.venv/lib/python3.11/site-packages/websockets/sync/client.py
.venv/lib/python3.11/site-packages/websockets/streams.py
.venv/lib/python3.11/site-packages/websockets/server.py
.venv/lib/python3.11/site-packages/websockets/protocol.py
.venv/lib/python3.11/site-packages/websockets/legacy/server.py
.venv/lib/python3.11/site-packages/websockets/legacy/protocol.py
.venv/lib/python3.11/site-packages/websockets/legacy/framing.py
.venv/lib/python3.11/site-packages/websockets/legacy/exceptions.py
.venv/lib/python3.11/site-packages/websockets/legacy/client.py
.venv/lib/python3.11/site-packages/websockets/legacy/auth.py
.venv/lib/python3.11/site-packages/websockets/legacy/__init__.py
.venv/lib/python3.11/site-packages/websockets/imports.py
.venv/lib/python3.11/site-packages/websockets/http11.py
.venv/lib/python3.11/site-packages/websockets/http.py
.venv/lib/python3.11/site-packages/websockets/headers.py
.venv/lib/python3.11/site-packages/websockets/frames.py
.venv/lib/python3.11/site-packages/websockets/extensions/permessage_deflate.py
.venv/lib/python3.11/site-packages/websockets/extensions/base.py
.venv/lib/python3.11/site-packages/websockets/exceptions.py
.venv/lib/python3.11/site-packages/websockets/datastructures.py
.venv/lib/python3.11/site-packages/websockets/client.py
.venv/lib/python3.11/site-packages/websockets/auth.py
.venv/lib/python3.11/site-packages/websockets/asyncio/server.py
.venv/lib/python3.11/site-packages/websockets/asyncio/messages.py
.venv/lib/python3.11/site-packages/websockets/asyncio/connection.py
.venv/lib/python3.11/site-packages/websockets/asyncio/client.py
.venv/lib/python3.11/site-packages/websockets/__init__.py
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/WHEEL
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/top_level.txt
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/RECORD
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/METADATA
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/LICENSE
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/six.py
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/WHEEL
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/top_level.txt
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/RECORD
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/METADATA
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/LICENSE
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/packaging-24.2.dist-info/RECORD
.venv/lib/python3.11/site-packages/packaging-24.2.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/openai/_version.py
.venv/lib/python3.11/site-packages/openai/_utils/_sync.py
.venv/lib/python3.11/site-packages/httpx-0.27.2.dist-info/RECORD
.venv/lib/python3.11/site-packages/httpx-0.27.2.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/fastapi-0.115.5.dist-info/REQUESTED
.venv/lib/python3.11/site-packages/fastapi-0.115.5.dist-info/RECORD
.venv/lib/python3.11/site-packages/fastapi-0.115.5.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/anyio-4.6.2.post1.dist-info/RECORD
.venv/lib/python3.11/site-packages/anyio-4.6.2.post1.dist-info/INSTALLER
.venv/bin/openai
.venv/bin/httpx
.venv/bin/fastapi
.venv/lib/python3.11/site-packages/websockets/version.py
.venv/lib/python3.11/site-packages/websockets/typing.py
.venv/lib/python3.11/site-packages/websockets/sync/server.py
.venv/lib/python3.11/site-packages/websockets/sync/messages.py
.venv/lib/python3.11/site-packages/websockets/sync/connection.py
.venv/lib/python3.11/site-packages/websockets/sync/client.py
.venv/lib/python3.11/site-packages/websockets/streams.py
.venv/lib/python3.11/site-packages/websockets/server.py
.venv/lib/python3.11/site-packages/websockets/protocol.py
.venv/lib/python3.11/site-packages/websockets/legacy/server.py
.venv/lib/python3.11/site-packages/websockets/legacy/protocol.py
.venv/lib/python3.11/site-packages/websockets/legacy/framing.py
.venv/lib/python3.11/site-packages/websockets/legacy/exceptions.py
.venv/lib/python3.11/site-packages/websockets/legacy/client.py
.venv/lib/python3.11/site-packages/websockets/legacy/auth.py
.venv/lib/python3.11/site-packages/websockets/legacy/__init__.py
.venv/lib/python3.11/site-packages/websockets/imports.py
.venv/lib/python3.11/site-packages/websockets/http11.py
.venv/lib/python3.11/site-packages/websockets/http.py
.venv/lib/python3.11/site-packages/websockets/headers.py
.venv/lib/python3.11/site-packages/websockets/frames.py
.venv/lib/python3.11/site-packages/websockets/extensions/permessage_deflate.py
.venv/lib/python3.11/site-packages/websockets/extensions/base.py
.venv/lib/python3.11/site-packages/websockets/exceptions.py
.venv/lib/python3.11/site-packages/websockets/datastructures.py
.venv/lib/python3.11/site-packages/websockets/client.py
.venv/lib/python3.11/site-packages/websockets/auth.py
.venv/lib/python3.11/site-packages/websockets/asyncio/server.py
.venv/lib/python3.11/site-packages/websockets/asyncio/messages.py
.venv/lib/python3.11/site-packages/websockets/asyncio/connection.py
.venv/lib/python3.11/site-packages/websockets/asyncio/client.py
.venv/lib/python3.11/site-packages/websockets/__init__.py
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/WHEEL
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/top_level.txt
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/RECORD
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/METADATA
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/LICENSE
.venv/lib/python3.11/site-packages/websockets-14.1.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/six.py
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/WHEEL
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/top_level.txt
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/RECORD
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/METADATA
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/LICENSE
.venv/lib/python3.11/site-packages/six-1.16.0.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/packaging-24.2.dist-info/RECORD
.venv/lib/python3.11/site-packages/packaging-24.2.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/openai/_version.py
.venv/lib/python3.11/site-packages/openai/_utils/_sync.py
.venv/lib/python3.11/site-packages/httpx-0.27.2.dist-info/RECORD
.venv/lib/python3.11/site-packages/httpx-0.27.2.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/fastapi-0.115.5.dist-info/REQUESTED
.venv/lib/python3.11/site-packages/fastapi-0.115.5.dist-info/RECORD
.venv/lib/python3.11/site-packages/fastapi-0.115.5.dist-info/INSTALLER
.venv/lib/python3.11/site-packages/anyio-4.6.2.post1.dist-info/RECORD
.venv/lib/python3.11/site-packages/anyio-4.6.2.post1.dist-info/INSTALLER
.venv/bin/openai
.venv/bin/httpx
.venv/bin/fastapi
